#HomePage {

    background-color:var(--cor-fundo-claro);
    display:flex;
    font-family:var(--fonte-principal);
    justify-content:center;

}

.items-container {

    display:flex;
    flex-wrap:wrap;
    gap:30px;
    margin:0;
    max-width:100%;    
    padding:10px 0;
    width:100%;

}

.item-card {
    
    background-color:var(--cor-fundo-branco);
    border:1px solid var(--cor-borda);
    box-shadow:var(--sombra-padrao);
    width:200px;
    height:300px;
    border-radius:8px;
    padding:15px;
    text-align:center;
    transition:transform 0.3s ease, box-shadow 0.3s ease;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position: relative; 

}

.item-card:hover {

    transform:translateY(-5px);
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.12);

}

.item-image {

    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:6px;
    margin-bottom:10px;

}

.item-card h2 {

    color:var(--cor-texto-principal);
    font-size:1.2em;
    margin:10px 0 5px 0;
    font-weight:var(--peso-negrito);
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

.item-card h1 {

    color:var(--cor-primaria);
    font-size:1.8em;
    font-weight:var(--peso-negrito);
    margin:10px 0 0 0;

}

.error-message {

    grid-column:1 / -1; 
    padding:15px;
    background-color:var(--cor-hover);
    color:var(--cor-alerta);
    border:1px solid var(--cor-alerta);
    border-radius:5px;
    text-align:center;
    font-weight:var(--peso-negrito);

}

#editarEapagar {

    width:100%;
    height:auto;
    display:flex;
    justify-content:right;
    gap:10px;

}

#editar {

    width:20px;
    height:20px;

}

#apagar {

    width:20px;
    height:20px;
    
}

#areaConfirm {

    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5); 
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:10; 
    border-radius:8px; 

}

#confirm {

    
    background-color:var(--cor-fundo-branco);
    padding:20px;
    border-radius:6px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    width:80%;
    max-width:180px;

}

#confirm h2 {

    font-size:1em;
    margin:0;
    color:var(--cor-texto-principal);
    text-align:center;
    white-space:normal;
    overflow:visible;

}

#confirm button {

    padding:8px 15px;
    border:none;
    border-radius:4px;
    font-weight:var(--peso-negrito);
    cursor:pointer;
    transition:background-color 0.2s ease;
    width:100%;

}

#confirm button:first-of-type { 

    background-color:var(--cor-alerta);
    color:white;

}

#confirm button:last-of-type { 

    background-color:#dec326;
    color:white;

}

#confirm button:last-of-type:hover {

    background-color: #555;

}