#HomePage {
    /* Garante que o main ocupe a maior parte da tela */

    background-color: var(--cor-fundo-claro);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center; /* Centraliza o items-container */


}

/* Container que envolve todos os cards de itens */
.items-container {
    width: 100vw;
    
    margin: 0; /* Centraliza */
    display: flex;
    /* Layout responsivo com CSS Grid: Colunas de no mínimo 280px */
    
    gap: 30px; /* Espaço entre os cards */
    padding: 10px 0;
    flex-wrap: wrap;
}

/* Estilo para cada card de item */
.item-card {
    
    width: 200px;
    height: 300px;

    background-color: var(--cor-fundo-branco);
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    box-shadow: var(--sombra-padrao);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex; /* Para melhor controle do layout interno */
    flex-direction: column;
    justify-content: space-between; /* Empurra preço para o fundo */


}

.item-card:hover {
    transform: translateY(-5px); /* Efeito sutil ao passar o mouse */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12); /* Sombra mais proeminente */
}

/* Imagem do Item */
.item-image {
    width: 100%;
    height: 200px; /* Altura fixa para uniformidade */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
    border-radius: 6px;
    margin-bottom: 10px;
}

/* Título do Item (h2) */
.item-card h2 {
    color: var(--cor-texto-principal);
    font-size: 1.2em;
    margin: 10px 0 5px 0;
    font-weight: var(--peso-negrito);
    /* Garante que o nome do item não quebre o layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Preço do Item (h1) */
.item-card h1 {
    color: var(--cor-primaria);
    font-size: 1.8em;
    font-weight: var(--peso-negrito);
    margin: 10px 0 0 0;
}

/* Mensagem de Erro */
.error-message {
    /* Garante que a mensagem de erro ocupe toda a linha no grid */
    grid-column: 1 / -1; 
    padding: 15px;
    background-color: var(--cor-hover-claro); /* Usando uma cor clara do seu root */
    color: var(--cor-alerta);
    border: 1px solid var(--cor-alerta);
    border-radius: 5px;
    text-align: center;
    font-weight: var(--peso-negrito);

}