#root {

  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

}

body, html {

  margin:0;
  display:flex;
  place-items:center;
  width:100vw;
  height:100vh;

}