:root {
    
    --cor-secundaria: #001F3F; 
    --cor-primaria: #46748F ; 
    --cor-branco: #ebeff5; 
    --cor-fundo-branco: #FFFFFF;
    --cor-hover-claro:#d8dfe8;
    --cor-hover-escuro:#538ead;
    --cor-texto-principal: #333333; 
    
    --cor-fundo-claro: #FAFAFA; 
    
    /* Cinza Claro: Para bordas, divisores e linhas sutis. */
    --cor-borda: #DDDDDD; 

    --cor-alerta: #CC0000;
}

:root {
 
    --fonte-principal: 'Arial', sans-serif;
    --peso-negrito: 700;
    --peso-medio: 500;
    --sombra-padrao: 0 2px 5px rgba(0, 0, 0, 0.08);

}